@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* esconder a barra de rolagem */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
img {
    /* fazer a imagem ocupar toda a tela */
    width: 100vw;
}
a {
    /* colocar a palavra ACESSE em baixo da imagem */
    display: block;
    /* colocar cor na palavra ACESSE  */
    background-color: darkred;
    /* colocar cor na palavra ACESSE  */
    color: white;
    /* colocar distancia entre a palavra ACESSE */
    padding: 20px;
    /* colocar a palavra ACESSE no meio da pagina */
    text-align: center;
    /* colocar a palavra ACESSE em negrito */
    font-weight: bolder;
    /* tirar o sublinhado da palavra ACESSE /* colocar a palavra ACESSE em baixo da imagem */
    text-decoration: none;
}
a:hover {
    background-color: red;
}